.background {
    background-image: url(../image/IMAGE\ -\ 2025-11-22T163712.884.png);
    background-position: right;
    height: 962px;
    background-repeat: no-repeat;
}

.background2 {
    background-image: url(../image/IMAGE\ -\ 2025-11-22T171922.950.png);
    background-position: left;
    height: 842px;
    background-repeat: no-repeat;
}
.background3 {
    background-image: url(../image/Frame\ -\ 2025-11-22T190929.317.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}